<div class="header-blue">
  <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
      <div class="container"><a class="navbar-brand" href="#">Inch By Inch</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse"
              id="navcol-1">
              <form class="form-inline mr-auto" target="_self">
                  <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input class="form-control search-field" type="search" name="search" id="search-field"></div>
              </form>
            </div>
        </div>
  </nav>
<div class="container" id="mainContainer">
  <div class="row">
      <div *ngFor="let routine of routines" class="col-lg-4">
          <div class="card card-margin">
              <div class="card-header no-border">
                  <h5 class="card-title">{{routine.name}}</h5>
              </div>
              <div class="card-body pt-0">
                  <div class="widget-49">
                      <ul class="widget-49-meeting-points">
                          <li class="widget-49-meeting-item"><span>{{routine.products}}</span></li>
                          <li class="widget-49-meeting-item"><span>{{routine.steps}}</span></li>
                      </ul>
                      <a (click)="onOpenModal(routine, 'add')" class="button2">Add</a>
                      <a (click)="onOpenModal(routine, 'edit')" class="button2">Edit</a>
                      <a (click)="onOpenModal(routine, 'delete')" class="button2">Delete</a>
                    </div>
              </div>
          </div>
      </div>
      <div class="modal fade" id="addRoutinemodal" tabindex="-1" aria-labelledby="addRoutineModalLabel" aria-hidden="true">
      </div>     
      <div class="modal fade" id="updateRoutineModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    </div> 
    <div class="modal fade" id="deleteRoutineModal" tabindex="-1" aria-labelledby="deleteRoutineModalLabel" aria-hidden="true">
    </div> 
    <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddRoutine(addForm)">
            <div class="form-group">
                <label for="name">Routine Name</label>
                <input type="'text" ngModel name = 'name' class="form-control" id="name" placeholder="Routine Name" required>
            </div>
            <div class="form-group">
                <label for="products">Products</label>
                <input type="'text" ngModel name = 'products' class="form-control" id="products" placeholder="Products" required>
            </div>
            <div class="form-group">
                <label for="steps">Steps</label>
                <input type="'text" ngModel name = 'steps' class="form-control" id="steps" placeholder="Routine Name" required>
            </div>
            <div class="modal-footer">
                <button type="button" id="add-routine-form" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>